.columnDiv{
    width:100%;
    background: rgba(0,0,0,0.2);
    height:500px;
    padding:10px;
}

.columnDiv .nameDiv{
    margin-top:20px;
}

.nameDiv{
    margin-left:20px;
    width:100px;
    height:80px;
    background:white;
    color:black;
    font-size:21px;
    padding:20px;
    text-align:center;
    cursor: pointer;
}

.barWidget{
    position: absolute;
    z-index:3;
    bottom:50px;
    width:90%;
    left:5%;
    border-radius:5px;
    background:rgba(0,0,0,0.7);
    display: flex;
    height:120px;
    padding:20px 10px;
}