<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="columnDiv" dragula="people" [(dragulaModel)]="col1">
          <div class="nameDiv" *ngFor="let c1 of col1">{{ c1.name }}</div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="columnDiv" dragula="people" [(dragulaModel)]="col2">
            <div class="nameDiv" *ngFor="let c2 of col2">{{ c2.name }}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="columnDiv" dragula="people" [(dragulaModel)]="col3">
            <div class="nameDiv" *ngFor="let c3 of col3">{{ c3.name }}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="columnDiv" dragula="people" [(dragulaModel)]="col4">
            <div class="nameDiv" *ngFor="let c4 of col4">{{ c4.name }}</div>
        </div>
    </div>
  </div>
</div>
<div class="barWidget">
  <div class="container" dragula="people" [(dragulaModel)]="humans" style="display: flex;">
      <div class="nameDiv" *ngFor="let h of humans">{{ h.name }}</div>
  </div>
</div>
<!-- <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="columnDiv" dragula="people">
            
        </div>
      </div>
      <div class="col-md-3">
          <div class="columnDiv" dragula="people">
            
          </div>
      </div>
      <div class="col-md-3">
          <div class="columnDiv" dragula="people">
            
          </div>
      </div>
      <div class="col-md-3">
          <div class="columnDiv" dragula="people">
            
          </div>
      </div>
    </div>
  </div>
  <div class="barWidget">
    <div class="container" dragula="people" style="display: flex;">
        <div class="nameDiv"><app-pie-chart></app-pie-chart></div>
        <div class="nameDiv"><app-bar-chart></app-bar-chart></div>
        <div class="nameDiv"><app-textcard></app-textcard></div>
    </div>
  </div> -->
